@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  body {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; 
  }

h1 {
    font-family: 'Jaro', sans-serif;
    font-size: 180px;
    letter-spacing: -0.05em;  
    line-height: 1.2; 
  }

  h2 {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1; 
  }

  h3 {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1; 
  }

  h4 {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }
}